/*Universal Styles*/
html{
  font-family: "Lato", sans-serif;
  font-size: 16px;
}
body{
  line-height: 1;
}

div .content{
  display: flex;
}
}
h4, h5{
  font-family: "Vollcorn", sans-serif;
}

a{
  text-decoration: none;
  font-weight: bold;

}
/* unvisited link */
a:link {
 color: #669933;
}

/* visited link */
a:visited {
 color: hotpink;
}

/* mouse over link */
a:hover {
 color: #333399;
}

/* selected link */
a:active {
 color: #339966;
}


/*Header*/
Header{
  display: flex;
  flex-direction: row;
  height: 64px;
  justify-content: space-between;
  align-items: center;
  padding-right: 24px;
  padding-left: 24px;
}


/*Navigation Bar*/

/*logo*/
.logo{
  display: flex;
  align-items: center;
}

.logo-image{
  height: 32px;
  width: auto;
  padding-right: 5px;
}

.title {
  text-transform: uppercase;
}


.company{
  color: #0C090A;
  font-weight: bold;
}

.name{
  color: #6D7B8D;
  font-weight: lighter;
}

/*Desktop Navigation menu*/

.desktop{

}
.menu{
  list-style: none;
  display: flex;
}
.menu li{
  padding-left: 16px;
}
.menu li a{
  color: ##669933 (51,76,25);

}
/*mobile-nav*/
.mobile{
  display: none;
}
.mobilenav{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-end;

}

.mobilenav li {
  padding-left: 20%;
}
@media only screen and (max-width: 600px){
  .desktop{
    display: none;
  }
  .title{
    display: none;
  }
  .menu{
    display: none;
  }
  .mobile{
    display: flex;
    flex-grow: 1;
  }
}
/*main banner*/
.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: #b299cc;

}
/*main banner container*/
.main-banner{
  display: flex;
  background-color: #b299cc;
  align-items: center;

}
/*main banner image container*/

.main-image{
  padding: 1rem 1rem;
  margin-right: auto;
}

/*main banner headline*/
.headline-content {
  width: 40%;
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #b299cc;
  position: relative;
  padding-left: 2rem;

}

.slogan {
  font-size: 2rem;
  margin-right: 3rem;
  padding-left: 24px;
  justify-content: flex-end;
  line-height: 1.5rem;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
}

p {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
}
/*
/*main banner button*/


button {
  color: rgb(147, 190, 122);
  font-size: 19px;
  line-height: 19px;
  padding: 16px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 2px solid rgb(28, 110, 164);
  display: inline-block;
}


/*commenting out button styling to debug page commenting this out so I can complete the top

*//*articles section


/*main article image*/


/*main article headline & paragraph*/


/*article column container*/


/*article 1*/

/*article 2*/

/*article 3*/
.article3{
  background-color: #efeaf4;
}

/*courses section*/

.course-container{
  background-color: #e0d6ea;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  align-content: stretch;
}
h3{

}

.courses{
  background-color: white;
}

/*Thesis section*/



/*footer*/
