/*Universal Styles*/
html{
  font-family: "Lato", sans-serif;
  font-size: 16px;
}
body{
  line-height: 1;
  color: #23236b;
}

div .content{
  display: flex;
}

h1{
  letter-spacing: .1em;
}

h2{
  letter-spacing:.05em;
  font-size: 2rem;
  font-weight: bold;
}
h4, h5{
  font-family: "Vollkorn", sans-serif;
}

a{
  text-decoration: none;
  font-weight: bold;

}
/* unvisited link */
a:link {
  color: #669933;
}

/* visited link */
a:visited {
  color: #993399;
}

/* mouse over link */
a:hover {
  color: #333399;
}

/* selected link */
a:active {
  color: #339966;
}

/*Header*/
Header{
  display: flex;
  flex-direction: row;
  height: 64px;
  justify-content: space-between;
  align-items: center;
  padding-right: 24px;
  padding-left: 24px;
}

/*Navigation Bar*/

/*logo*/
.logo{
  display: flex;
  align-items: center;
}

.logo-image{
  height: 32px;
  width: auto;
  padding-right: 5px;
}

.title {
  text-transform: uppercase;
}

.company{
  color: #23236b;
  font-weight: bold;
}

.name{
  color: #6D7B8D;
  font-weight: lighter;
}

/*Desktop Navigation menu*/

.menu{
  list-style: none;
  display: flex;
}
.menu li{
  padding-left: 16px;
}
.menu li a{
  color: ##669933 (51,76,25);

}
/*mobile-nav*/
.mobile{
  display: none;
}
.mobilenav{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-end;
}

.mobilenav li {
  padding-left: 20%;
}
@media only screen and (max-width: 600px){
  .desktop{
    display: none;
  }
  .title{
    display: none;
  }
  .menu{
    display: none;
  }
  .mobile{
    display: flex;
    flex-grow: 1;
  }
}
/*main banner*/
.main-banner-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: #c1c1e0;
}
/*main banner container*/
.main-banner{
  display: flex;
  background-color: #c1c1e0;
  align-items: center;
}
/*main banner image container*/

.main-image{
  padding: 32px 24px;
  margin-right: auto;
}

/*main banner headline*/
.headline-content {
  width: 40%;
  height: 18rem;
  flex-direction: column;
  justify-content: space-between;
  background-color: #c1c1e0;
  position: relative;
  padding-left: 2rem;
}

.slogan {
  font-size: 2rem;
  margin-right: 3rem;
  padding-left: 24px;
  justify-content: flex-end;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

p {
  font-weight: bold;
  line-height: 2rem;
  padding-bottom: 1.5rem;
}

/*main banner button*/

button {
  color: rgb(147, 190, 122);
  font-size: 19px;
  line-height: 19px;
  padding: 8px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 2px solid rgb(28, 110, 164);
  width: 60%;
  display: inline-block;
}

/** media query for mobile banner  ***/

@media only screen and (max-width: 450px) {

  .main-banner{
    display: flex;
    flex-direction: column;
    width: 100%
  }

  .main-banner img{
    width: 100%;
    margin:0 0 2rem 0;
    padding:0;
    flex-grow: 2;
  }

  .slogan{
    display: inline-flex;
    margin-right: 0;
    font-size: 1.5rem;
  }
  .headline-content {
    margin-top: 1rem;
    padding-bottom: 3rem;
  }
  .slogan h1{
    font-size: 1.5rem;
    margin-left: 1rem;
  }

  .slogan p{
    margin-left: 1rem;
    margin-bottom: 0;
  }

  .startbutton{
    margin: 1.5rem 1rem 2rem 1rem;
  }
}
/* End of mobile banner **/

/* articles  */

.article-flex{
  display: flex;
  flex-direction: row;
  padding-bottom: 32px;
}

/*main article*/

.main-article {
  padding: 0;
  margin: 2rem 1.5rem;
  width: 60%;
  display: flex;
  flex-direction: column;

}
.main-article img{
  width: 100%;
  padding: 0;
  margin: 0;
}

/*main article headline & paragraph*/

.main-article-writing {
  /width: 66%;
  padding: 32px 24px;
}

h3{
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 32px;
}
.maing-article-writing. p{
  font-weight: normal;
}
.author {
  font-size: 1rem;
}


/*article column container*/
.flex{
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: whitesmoke;
  color: darkslategrey;
  padding: 2rem 0;
  margin: 0;
  border-left: 2px solid #D8BFD8;
  justify-content: space-around;

}

/*article 1*/
.article1,
.article2,
.article3 {
  display: flex;
  align-items: center;
}
.article1 img{
  width: 35%;
  height: auto;
  margin: 0rem 1rem 1rem 1rem;
}
.article1-text{

}

/*article 2*/

.article2 img{
  width: 35%;
  height: auto;
  margin: 0rem 1rem 1rem 1rem;
}

/*article 3*/
.article3 {
  background-color: #eaeaf4;
}
.article3 img{
  width: 40%;
  height: auto;
  margin: 0rem 1rem 1rem 1rem;

}

.article3-text{

}

/*Learning*/

div .learning {
  background-color: #d6d6ea;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.learning h1{
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 3rem;
  color: #23236b;
}

.top-class-set{
  display: flex;
  flex-direction: row;
  color: #23236b;
}

.bottom-class-set{
  display: flex;
  flex-direction: row;
}

/*.subject{
  background-color: #E6E6FA;
  padding-bottom: 1.5rem;
}*/

/* Margins for course boxes */

.software-engineering, .data{
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.computer-art, .business{
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}
.subject img{
  height:auto;
}

.design, .marketing{
  margin-left: 1rem;
  margin-right: 0;
  margin-bottom: 2rem;
}
.subject h2{
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 2rem;
  color: #5b892d;
}

.subject h3{
  margin-left: 1rem;
  font-size: 1.8rem;
  font-weight: normal;
  color: slategray;
}

.subject p{
  margin-left: 1rem;
  color: slategray;
  font-size: 1.5rem;
  margin-top:.5rem;
  margin-bottom: .5rem;
  color: #7547a3;
}

/** turn off mobile learning html */
.learning.mobile{
  display:none;
}

/* Mobile Learning Section */
@media only screen and (max-width: 450px){

  .learning.desktop{
    display:none;
  }

  .learning.mobile{
    width: 100%;
    background-color: #23236b;
    display: block;
    padding: 0;
    margin: 0 0 1.5rem 0;
  }
  .learning h1{
    margin-top: 2rem;
    padding-top: 1rem;
    text-align: center;
    font-size: 3rem;
    color: darkslategrey;
    margin-bottom: 1rem;
  }

  .learning.mobile h2{
    font-weight: normal;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem 0 1.5rem 1rem;
    background-color: gainsboro;
    margin-bottom: .5rem;
  }

}

/*Thesis section*/
.thesis{
  display:flex;
  flex-direction: column;
  background-color: whitesmoke;
  width: 100%;
}
.thesis h1{
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 3rem;
  color: #663399;

}
.video{
  width: 60%;
  margin-left: 1.5rem;
  margin-right: .75rem;
  margin-top:0;

}
.thesis video{
  margin-top: 0;
  padding-top: 0;
  width: 100%;
  background-color: gainsboro;
}
.main-content{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.thesis-sidebar{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  width: 40%;
  margin-left: .75rem;
}
.thesis-fisma{
  display: flex;
  background-color: #d6d6ea;
}

.thesis-now-and-then{
  display:flex;
  background-color: whitesmoke;
}

.thesis-image{
  width: 35%;     /*Redline spec image width is 35%*/
  height: auto;
  padding: 1rem;
}

.thesis-sidebar img {
  width: 100%;    /*from redline spec*/
  height: auto;
  margin: 0;
  padding: 0;
}

.sidebar-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.sidebar-text h2{
  color: #23236b;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: .5rem;
}

.sidebar-text h3{
  font-size: 1.2rem;
  color: #9370b7;
  font-weight: lighter;
  margin-bottom: .5rem;
}

@media only screen and (max-width: 450px){

  /*** hide the sidebar ***/
  .thesis-sidebar{
    display:none;
  }

}

/** mobile for thesis exhibits and reimagine urban**/

@media only screen and (max-width: 450px){

  .thesis-sidebar{
    display: none;
  }

  .video {
    width: 100%;
  }

  /*reimagine*/

  .reimagine {
    display:none;
    width: 60%;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
  }

  .reimagine h2{
    color:#9370b7;
    padding-top: 24px;
    margin-bottom: .5rem;
  }

  .reimagine p{
    font-size: 1.3rem;
    margin-right: 2rem;
    color: #663399;
  }

  /*footer*/

  footer{
    margin-left: 1.5rem;
    margin-top: 2rem;
    padding-top: 1rem;
    color: #663399;
    border-top: 2px solid gainsboro;
    justify-content: space-between;
    text-align: right;
  }

  nav .femu {
    text-align: right;
  }
